.idea/
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.*
configure
depcomp
missing
stamp-h1
src/*.o
src/labrea
src/.deps/

glade/timer_window_1\.glade

*.glade~

glade/timerWindow\.glade

src/dnet_man\.txt

src/libdnet

Makefile
